dbURI: "mongodb://{{ .Release.Name }}-mongodb/open5gs"

populate:
  enabled: true
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs-dbctl
    tag: 0.10.3
    pullPolicy: IfNotPresent
  initCommands: []
  # example of initCommands:
  #  - open5gs-dbctl add 999700000000001 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA
  #  - open5gs-dbctl add_ue_with_apn 999700000000002 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA internet
  #  - open5gs-dbctl add_ue_with_slice 999700000000003 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA internet 1 111111

# Common
mongodb:
  image:
    registry: ghcr.io
    repository: kulkarnn/mongodb
    tag: "8.0.9-debian-12-r0"
    pullPolicy: IfNotPresent
  enabled: true
  auth:
    enabled: false
#  diagnosticMode:
#    enabled: true
smf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
upf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.6"
    pullPolicy: IfNotPresent
  replicaCount: 4
  enabled: true
webui:
  image:
    registry: ghcr.io
    repository: kulkarnn/mongodb
    tag: "4.4.1-debian-10-r39"
    pullPolicy: IfNotPresent
  enabled: false

# 4G
hss:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
  mongodb:
    enabled: false
mme:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
pcrf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
  mongodb:
    enabled: false
sgwc:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
sgwu:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true

# 5G
amf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
ausf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
bsf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
nrf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
nssf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
pcf:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
  mongodb:
    enabled: false
scp:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
  mongodb:
    enabled: false
udm:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
udr:
  image:
    registry: ghcr.io
    repository: kulkarnn/open5gs
    tag: "2.7.5"
    pullPolicy: IfNotPresent
  enabled: true
  mongodb:
    enabled: false
